@font-face {
	font-family : 'Athene';
	src         : url('fonts/Athene.woff2') format('woff2'), url('fonts/Athene.woff') format('woff');
	font-weight : 500;
	font-style  : normal;
	font-display: swap;
}

/* share-tech-mono-regular - latin */
@font-face {
	font-family: 'Share Tech Mono';
	font-style : normal;
	font-weight: 400;
	src        : local('Share Tech Mono'), local('ShareTechMono-Regular'),
		url('fonts/share-tech-mono-v10-latin-regular.woff2') format('woff2'),
		url('fonts/share-tech-mono-v10-latin-regular.woff') format('woff');
}