/* Background */

.chroma {
    color: #f8f8f2;
    background-color: #282a36
}

/* LineTableTD */

.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

/* LineHighlight */

.chroma .hl {
    display: block;
    width: 100%;
}

/* 
LineNumbers 
LineNumbersTable
*/

.chroma .ln,
.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
}

/* 
Keyword
KeywordConstant
KeywordNamespace 
KeywordPseudo
KeywordReserved
NameTag
Operator
OperatorWord
CommentPreproc
CommentPreprocFile
*/

.chroma .k,
.chroma .kc,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .nt,
.chroma .o,
.chroma .ow,
.chroma .cp,
.chroma .cpf {
    color: #ff79c6
}

/* 
KeywordType 
*/

.chroma .kt {
    color: #8be9fd
}

/* 
KeywordDeclaration
NameBuiltin
NameLabel
NameVariable
NameVariableClass
NameVariableGlobal
NameVariableInstance
*/

.chroma .kd,
.chroma .nb,
.chroma .nl,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi {
    color: #8be9fd;
    font-style: italic
}

/* 
NameAttribute 
NameClass
NameFunction
*/

.chroma .na,
.chroma .nc,
.chroma .nf {
    color: #50fa7b
}

/*
LiteralString
LiteralStringAffix
LiteralStringBacktick
LiteralStringChar
LiteralStringDelimiter
LiteralStringDoc
LiteralStringDouble
LiteralStringEscape
LiteralStringHeredoc
LiteralStringInterpol
LiteralStringOther
LiteralStringRegex
LiteralStringSingle
LiteralStringSymbol
*/

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
    color: #f1fa8c
}

/*
LiteralNumber
LiteralNumberBin
LiteralNumberFloat
LiteralNumberHex
LiteralNumberInteger
LiteralNumberIntegerLong
LiteralNumberOct
*/

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
    color: #bd93f9
}

/*
Comment
CommentHashbang
CommentMultiline
CommentSingle
CommentSpecial
*/

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs {
    color: #6272a4
}

/* GenericDeleted */

.chroma .gd {
    color: #8b080b
}

/* 
GenericHeading 
GenericInserted 
GenericSubheading
*/

.chroma .gh,
.chroma .gi,
.chroma .gu {
    font-weight: bold
}

/* GenericOutput */

.chroma .go {
    color: #44475a
}

/* 
GenericEmph
GenericUnderline 
*/

.chroma .ge,
.chroma .gl {
    text-decoration: underline
}