@import "variable.less";

// Global styling

* {
	border-width   : 0;
	box-sizing     : border-box;
	margin         : 0;
	padding        : 0;
	text-decoration: none;
}

body {
	.checkerboard();
	display              : grid;
	grid-template-columns: 1fr;
	padding              : .pixel(8)[];
	grid-gap             : .pixel(8)[];
}

// Component styles
@import "window.less";
@import "fileman.less";
@import "taglist.less";