@import "variable.less";

// Global styling
* {
	border-width   : 0;
	box-sizing     : border-box;
	margin         : 0;
	padding        : 0;
	text-decoration: none;
}

body {
	.checkerboard(30%);
	overflow: auto;
}

// Component styles
@import "window.less";
@import "url-trail.less";
@import "fileman.less";
@import "taglist.less";
@import "reader.less";

// Dir template
.dir-page {
	display              : grid;
	grid-template-columns: 1fr minmax(auto, .pixel(100)[]);
	padding              : .pixel(8)[];
	grid-gap             : .pixel(8)[];
	max-width            : .pixel(350)[];
	margin               : 0 auto;
	align-items          : start;

	.reader {
		grid-column-start: 1;
		grid-column-end  : -1;
	}
}

// Tagfiles template
.tagfiles-page {
	padding  : .pixel(8)[];
	max-width: .pixel(350)[];
	margin   : 0 auto;
}

// File template
.file-page {
	padding  : .pixel(8)[];
	max-width: .pixel(350)[];
	margin   : 0 auto;
}

// Mobile device
@media screen and (max-width:699px) {
	body {
		.checkerboard(0%);
	}

	.dir-page {
		grid-template-columns: 1fr;
	}
}