// Colors
@fgColor : #505050;
@bgColor : #efe9e7;

// Pixel scale
.pixel(@scale) {
	@result: 3px * @scale;
}

// Patterns
.checkerboard() {
	background-color: @bgColor;
	background-image:
		linear-gradient(45deg, @fgColor 25%, transparent 25%, transparent 75%, @fgColor 75%, @fgColor),
		linear-gradient(45deg, @fgColor 25%, transparent 25%, transparent 75%, @fgColor 75%, @fgColor);
	background-size    : .pixel(2)[] .pixel(2)[];
	background-position: 0 0, .pixel(1)[] .pixel(1)[];
}

.stripes() {
	background-color: @bgColor;
	background-image: linear-gradient(transparent 50%, @fgColor 50%);
	background-size : .pixel(2)[] .pixel(2)[];
}

// Main font candidates
.mainFont(@pixelOffset: 0) {
	.athensFont(@pixelOffset)
}

.atariFont(@pixelOffset: 0) {
	font-family: "Atari";
	font-size  : .pixel(5+@pixelOffset)[];
}

.athensFont(@pixelOffset: 0) {
	font-family: "Athens Classic";
	font-size  : .pixel(6+@pixelOffset)[];
}

.chixaFont(@pixelOffset: 0) {
	font-family: "Chixa";
	font-size  : .pixel(5+@pixelOffset)[];
}