// Colors
@black     :#000000;
@white     :#ffffff;
@red       :#880000;
@cyan      :#AAFFEE;
@purple    :#CC44CC;
@green     :#00CC55;
@blue      :#0000AA;
@yellow    :#EEEE77;
@orange    :#DD8855;
@brown     :#664400;
@lightRed  :#FF7777;
@darkGrey  :#333333;
@grey      :#777777;
@lightGreen: #AAFF66;
@lightBlue :#0088FF;
@lightGrey :#BBBBBB;

@bgColor    : #efe9e7;
@fgColor    : @darkGrey;
@accentColor: @red;

// Pixel scale
.pixel(@scale) {
	@result: 3px * @scale;
}

// Patterns
.stripes() {
	background-color: @bgColor;
	background-image: linear-gradient(transparent 50%, @fgColor 50%);
	background-size : .pixel(2)[] .pixel(2)[];
}

// Fonts
// TODO: decide between Athene and Chakra Petch
.mainFont(@size: 1rem) {
	font-size  : @size;
	font-family: "Chakra Petch";
	font-weight: 500;
}

.monospaceFont(@size: 1rem) {
	font-size  : @size;
	font-family: "Share Tech Mono";
	font-weight: normal;
}