// Colors
@black     :#000000;
@white     :#ffffff;
@red       :#880000;
@cyan      :#AAFFEE;
@purple    :#CC44CC;
@green     :#00CC55;
@blue      :#0000AA;
@yellow    :#EEEE77;
@orange    :#DD8855;
@brown     :#664400;
@lightRed  :#FF7777;
@darkGrey  :#333333;
@grey      :#777777;
@lightGreen: #AAFF66;
@lightBlue :#0088FF;
@lightGrey :#BBBBBB;

@bgColor    : #efe9e7;
@fgColor    : @darkGrey;
@accentColor: @red;

// Pixel scale
.pixel(@scale) {
	@result: 3px * @scale;
}

// Patterns
.checkerboard(@lightness: 0) {
	@boxColor       : lighten(@fgColor, @lightness);
	background-color: @bgColor;
	background-image:
		linear-gradient(45deg, @boxColor 25%, transparent 25%, transparent 75%, @boxColor 75%, @boxColor),
		linear-gradient(45deg, @boxColor 25%, transparent 25%, transparent 75%, @boxColor 75%, @boxColor);
	background-size      : .pixel(2)[] .pixel(2)[];
	background-position  : 0 0, .pixel(1)[] .pixel(1)[];
	background-attachment: fixed;
}

.stripes() {
	background-color: @bgColor;
	background-image: linear-gradient(transparent 50%, @fgColor 50%);
	background-size : .pixel(2)[] .pixel(2)[];
}

// Fonts
.mainFont(@size: 1rem) {
	font-size  : @size;
	font-family: "Athene";
}

.monospaceFont(@size: 1rem) {
	font-size  : @size;
	font-family: "Share Tech Mono";
}