<!DOCTYPE html>
<html>

<head>
	<title>{{.WebsiteTitle}}</title>
	<meta name="twitter:title" content="{{.WebsiteTitle}}">
	<meta property="og:title" content="{{.WebsiteTitle}}">
	{{template "head" .}}
</head>

<body>
	{{template "header" .}}
	<div id="body">
		<div class="content" id="content-list">
			<div id="main">
				{{$paging := printf "%d / %d" .CurrentPage .MaxPage}}
				{{if eq .Type 1}} 
					{{if eq .ContentTitle ""}}
					<p class="list-title">uncategorized [{{$paging}}]</p>
					{{else}}
					<p class="list-title">{{.ContentTitle}} [{{$paging}}]</p>
					{{end}} 
				{{else if eq .Type 2}}
					<p class="list-title">#{{.ContentTitle}} [{{$paging}}]</p>
				{{end}} 
				
				{{range $i, $post := .Posts}}
				<div class="post">
					<a class="post-title" href="{{$post.Path}}">{{$post.Title}}</a>
					<p class="post-metadata">{{formatTime $post.CreatedAt "02 Jan 2006"}} by {{$post.Author}}</p>
					<p class="post-excerpt">{{limitSentence $post.Excerpt 10}}</p>
					<a class="read-more" href="{{$post.Path}}">Read more...</a>
				</div>
				{{end}}

				{{if gt .MaxPage 1}}
				<div class="pagination-box">
					{{if gt .CurrentPage 2}}
					<a href="{{printf "%s/%d" .Path 1}}">&laquo;</a>
					{{end}} 
					{{if gt .CurrentPage 1}}
					<a href="{{printf "%s/%d" .Path (add .CurrentPage -1)}}">&lsaquo;</a>
					{{end}}
					<p>{{.CurrentPage}} / {{.MaxPage}}</p>
					{{if lt .CurrentPage .MaxPage}}
					<a href="{{printf "%s/%d" .Path (add .CurrentPage 1)}}">&rsaquo;</a>
					{{end}} 
					{{if lt .CurrentPage (add .MaxPage -1)}}
					<a href="{{printf "%s/%d" .Path .MaxPage}}">&raquo;</a>
					{{end}}
				</div>
				{{end}}
			</div>
			<div id="sidebar">
				{{if gt (len .Categories) 0}}
				<div class="sidebar-box" id="category-box">
					<p>Categories</p>
					<div class="content">
						{{range $category := .Categories}}
						<a href="{{$category.Path}}">
							{{if eq $category.Name ""}}uncategorized{{else}}{{$category.Name}}{{end}}
							<span>{{$category.NPosts}}</span>
						</a>{{end}}
					</div>
				</div>
				{{end}} 
				{{if gt (len .Tags) 0}}
				<div class="sidebar-box" id="tag-box">
					<p>Tags</p>
					<div class="content">
						{{range $tag := .Tags}}
						<a href="{{$tag.Path}}">
							# {{$tag.Name}}
							<span>{{$tag.NPosts}}</span></a> 
						{{end}}
					</div>
				</div>
				{{end}}
			</div>
		</div>
	</div>
	{{template "footer" .}}
	{{template "analytic" .}}
</body>

</html>